.header {
  background-color: black;
  padding: 20px 20px;

  color: azure;
  position: fixed;
  width: 100%;
}

.navstyle {
  text-decoration: none;
  color: white;
}

.navstyle:hover {
  background-color: wheat;
}
