.header {
  background-color: black;
  padding: 20px 20px;

  color: azure;
  position: fixed;
  width: 100%;
}

.navstyle {
  text-decoration: none;
  color: white;
  font-size: large;
  padding: 5px 15px;
}

.navstyle:hover {
  background-color: rgba(245, 222, 179, 0.253);
  color: white;
  border-radius: 8px;
}
